div {
  background-image: url(./public/back-ground/rainy.jpeg);
  object-fit: cover;

  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: space-between;
}
