@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC", sans-serif;
  height: 100%;
  width: 100%;
}
p {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}

#root {
  height: 100%;
  width: 100%;
}
